*{
  color: white;
}
header{
  position: relative;
  color: white;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}
.d-flex{
  align-items: center;
}
.logo{
  margin-top: -1vh;
  margin-left: 5vw;
  margin-right: 0.5vw;
}
.beside_logo{
  font-family: gilroy;
  font-size: 1.5rem;
  letter-spacing:-0.1rem;
}
.header_right{
  margin-right: 2vw;
}
.logout, .enterprise{
  align-items: center;
  margin-right: 15px;
  border-radius: 25px;
  padding: 5px 13px;
  border: solid 2px white;
}
.logout:hover{
  cursor:pointer
}
.logout_icon, .enterprise_icon{
  margin-right: 7px;
}
