<header class="d-flex">
  <div class="d-flex">
    <div class="logo">
      <img src="../../../assets/images/Logo.svg" height="150rem"
      alt="logo">
    </div>
    <div class="beside_logo">Enterprise</div>
  </div>
  <div class="header_right d-flex">
    <div class="d-flex enterprise" routerLink="/">
      <div class="enterprise_icon"><i class="fa-solid fa-angle-left"></i>
      </div>
      <div>
        Enterprise Workspace
      </div>
    </div>
    <div class="d-flex logout" routerLink="/login">
      <div class=logout_icon><i class="fa-solid fa-right-from-bracket"></i>
      </div>
      <div>
        Logout
      </div>
    </div>
  </div>
</header>








