<div class="right-man">
  <img src="../../../assets/images/Layer.png" height="100%">
</div>
<div class="content">
  <div class="logo">
    <img src="../../../assets/images/Logo.svg" height="135px" width="176px"
    alt="logo">
  </div>
  <div class="enterprise d-flex">
    <div>Webalo Enterprise</div>
    <div><i class="fa-solid fa-tag"></i></div>
  </div>
  <div class="text">
    <div class="first_text">
      Empower Your Frontline Workforce
    </div>
    <div class="second_text">
      Please log in using the username and password you created at singnup
    </div>
  </div>
  <div class="form">Username</div>
  <div>
    <input type="text">
  </div>
  <div>
    <div class="form">Password</div>
    <div>
      <input type="text">
    </div>
  </div>
  <div class="last_item d-flex">
    <div class="log">Login</div>
    <div class="contact_us">
      <a routerLink="">
        Contact Webalo Support
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
