*{
  color: white;
}
.right-man
{
  position: absolute;
  z-index: -1;
  height: 100vh;
  right: 0px;
}
.logo{
  margin-left:6.5rem;
}
.content{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 6.2rem;
}
.enterprise{
  margin-top:45px
}
.enterprise i{
  position: relative;
  left:7px;
  bottom: 15px;
  font-size: 20px;
}
.enterprise div{
  font-family: gilroy ;
  font-size: 60px ;
  letter-spacing:-1.5px ;
  margin-bottom: 11.5px;
}
.text{
  margin-bottom: 15px;
}
.first_text{
  font-size: 1.5rem;
  font-weight: 200;
}
.second_text{
  font-size: 0.9rem;
  font-weight: 200;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}
.form{
  margin: 0.6rem 0px;
  font-size: 1rem;
  font-weight: 200;
}
input{
  height: 38px;
  width: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: transparent;
}
.last_item{
  align-items: center;
  margin-top: 30px;
  width: 300px;
  justify-content: space-between;
}
.log{
  padding: 0.2rem 1.5rem;
  border: solid 0.01rem white;
  font-weight: 200;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.log:hover{
  cursor: pointer;
}
a{
  color: white;
  font-size: 12px;
  font-weight: 200;
}
