* {
  color: white;
}

i {
  color: rgb(255, 255, 255);
  font-size: 16px;
  position: relative;
  bottom: 4px;
}

.progress_bar {
  position: absolute;
  bottom: 100px;
  left: -60px;
  width: 100%;
}

.progress-first {
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 155px;
  right: 0;
}

.progress-first i {
  margin-left: 0.5rem;
}

li:nth-child(odd) {
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  line-height: 1.65em;
  border: solid white;
  border-radius: 1em;
  background: transparent;
  margin: 0 1em;
  font-size: 25px;
  display: inline-block;
  color: rgb(255, 255, 255);
}

li:hover {
  cursor: pointer;
}
li{
  position: relative;
}
li:nth-of-type(odd)::after {
  content: '';
  position: absolute;
  top: .65em;
  left: 1.6em;
  width: 2.7em;
  height: .02em;
  background: rgb(255, 255, 255);
  z-index: -1;
}

li:nth-of-type(even)::after {
  content: '';
  position: absolute;
  top: .65em;
  right: -1.7em;
  width: 1.7em;
  height: .02em;
  background: rgb(255, 255, 255);
  z-index: -1;
}
li:nth-of-type(10)::after{
  height: 0em;
}
ul :nth-child(even) {
  margin-top: 10px !important;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.4em;
  border-radius: 1em;
  border: 2px solid;
  background: transparent;
  margin: 0 1em;
  font-weight: 600;
  font-size: 40px;
  display: inline-block;
  color: rgb(255, 255, 255);
  position: relative;
  top: 5px;
}
li:last-child{
  display: none;
}

li:last-child::after{
  background-color: transparent !important;
}

.first::before {
  display: none !important;
}

.progress-second {
  display: flex;
  margin-left: 12.5rem;
}

.step_odd {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  top: 20px;
  width: 150px;
  text-align: center;
}

.step_even {
  width: 150px;
  position: relative;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  top: 50px;
  text-align: center;
}

.progress-second :nth-child(even)::after {
  display: none;
}

.progress-second div {
  white-space: nowrap;
  position: relative;
}

.progress-second :nth-child(2) {
  right: 30px;
}

.progress-second :nth-child(3) {
  left: -40px;
}

.progress-second :nth-child(4) {
  right: 40px;
}

.progress-second :nth-child(5) {
  right: 28px;
}

.progress-second :nth-child(6) {
  right: 28px;
}

.progress-second :nth-child(7) {
  right: 30px;
}

.progress-second :nth-child(8) {
  right: 30px;
}

.progress-second :nth-child(9) {
  right: 15px;
}

.progress-second :nth-child(10) {
  right: 10px;
}

img,
video {
  border-radius: 10px;
  width: 78rem;
  height: 32rem;
  margin-left: 80px;
  margin-top: 110px;
  object-fit: fill;
}

section {
  width: 85rem;
  height: 55rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: fill;
  border-radius: 1vw;
}

.skip {
  display: flex;
  position: relative;
  top: 6.5rem;
  left: 76rem;
  width: 7rem;
  font-size: 1rem;
}

i {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.skip:hover {
  cursor: pointer;
}

.lf {
  position: relative;
  right: 1.5rem !important;
  top: 20px;
}

/*js classes*/
.number_focus {
  background-color: white !important;
  color: black !important;
  border: transparent solid 2px !important;
}

.play_focus {
  background-color: white !important;
  color: black !important;
}

.re {
  color: rgba(255, 255, 255, 0.41) !important;
}

.content {
  display: none;
}

#content:first-of-type {
  display: inline;
}

.initial {
  background-color: white !important;
  color: black !important;
}

.prev_step {
  color: rgba(255, 255, 255, 0.41) !important;
  /* background-color: transparent !important; */
  border: rgba(255, 255, 255, 0.41) solid 1px !important;
}

.prev_step::after {
  background: rgba(255, 255, 255, 0.41) !important;
}

