<app-header></app-header>

<section>
  <div class="skip" id="skip">
    <div><i class="fa-solid fa-forward"></i></div>
    <div>skip</div>
  </div>
  <ng-container id="sec" class="sec" *ngFor="let image of dynamicContent" height="90%">
    <img [src]="image.src" class="content" id="content">
    <video controls [src]="image.vidSrc" width="100%" class="content"></video>
  </ng-container>
  <div class="progress_bar">
    <div class="progress-first">
      <ul>
        <li class="play_step initial"><i class="fa-solid fa-circle-play initial"></i></li>
        <ng-container *ngFor="let play of played_step">
          <li class="number_step">{{play.number}}</li>
          <li class="play_step"><i [ngClass]='play.icon'></i></li>
        </ng-container>
      </ul>
    </div>
    <div>
      <div class="progress-second d-flex">
        <div class="active lf">Form Designer</div>
        <div class="" *ngFor="let step of bar_bottom; let i = index; let o = odd; let e = even" [ngClass]="{
        'step_odd':o,
        'step_even':e
      }">
          {{step.title}}
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
