<header class="d-flex">
  <div class="d-flex">
    <div class="logo">
      <img src="../../../assets/images/Logo.svg" height="150rem" alt="logo">
    </div>
  </div>
  <div class="header_right d-flex">
    <div class="d-flex enterprised" routerLink="">
      <div class="enterprise_icon"><i class="fa-solid fa-angle-left"></i>
      </div>
      <div>
        Enterprise Workspace
      </div>
    </div>
    <div class="d-flex logout" routerLink="/login">
      <div class=logout_icon><i class="fa-solid fa-right-from-bracket"></i>
      </div>
      <div>
        Logout
      </div>
    </div>
  </div>
</header>
<main class="d-flex">
  <div class="content">
    <div class="enterprise d-flex">
      <div>Webalo Enterprise</div>
      <div><i class="fa-solid fa-tag"></i></div>
    </div>
    <div class="text">
      <div class="first_text">
        Empower Your Frontline Workforce
      </div>
      <div class="second_text">
        Video Description
      </div>
      <div class="third_text">
        Webalo is enterprise grade, closely integrated with enterprise and industrial software systems such as
        Microsoft, SAP, Rockwell,and siemens. Webalo is built to operate in the face of massive amounts of real-time
        transactional usage by thousands of workers to help them make better, more informed decisions and to make their
        businesses more productive.
      </div>
      <div class="forth_text">
        <a>
          Read More
        </a>
      </div>
    </div>
  </div>
  <div id="frame">
    <section class="frame" *ngFor="let video of view">
      <video controls [src]= "video.src" type="video/mp4">
      </video>
    </section>
  </div>
  <div class="videos_footer d-flex">
    <div class="videos d-flex videos_after_click">
      <div><i class="fa-solid fa-circle-play icon_after_click"></i></div>
      <div>video 1</div>
    </div>
    <div class="videos d-flex" *ngFor="let video of videos">
      <div><i [ngClass]='video.icon'></i></div>
      <div>{{video.item}}</div>
    </div>
  </div>
</main>

<app-footer></app-footer>
